
<div class="col-md-2">
	<nav>
		<ul class="nav nav-pills nav-stacked">
			<li><a ui-sref="dashboard.summary">Summary</a></li>
			<li><a ui-sref="dashboard.userStats">Statistics</a><li>
			<li><a ui-sref="dashboard.userStats">Detail</a></li>
		</ul>
	</nav>
</div>
<div class="container col-md-8 dash-data-container" ng-controller='DatepickerCtrl'>
	<nav class="navbar navbar-default">
		<div class="container-fluid" >
			<div class="">
		      <div class="col-md-2">
	        <p class="input-group">
	          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="startDate" is-open="startopen" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
	          <span class="input-group-btn">
	            <button type="button" class="btn btn-default" ng-click="open($event, 'startopen')"><i class="glyphicon glyphicon-calendar"></i></button>
	          </span>
	        </p>
	      </div>
			</div>
			<div class="">
		      <div class="col-md-2">
	        <p class="input-group">
	          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="endDate" is-open="endopen" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
	          <span class="input-group-btn">
	            <button type="button" class="btn btn-default" ng-click="open($event, 'endopen')"><i class="glyphicon glyphicon-calendar"></i></button>
	          </span>
	        </p>
	      </div>

			</div>
			
		</div>
		<div>
			<p>Showing data from <span ng-bind="{{'startDate | date'}}"></span> to {{endDate | date}}.</p>
		</div>
	</nav>
	<ui-view></ui-view>
</div>	
	
